.AccountDetails {
  flex-grow: 1;
}

.AccountDetails__info {
  margin-top: 20px;
}

.AccountDetails__data {
  margin: auto;
  margin-top: 40px;
  padding: 25px;
  width: 100%;
  max-width: 450px;
  animation: fade-in 0.5s;
}

.AccountDetails__data p {
  font-size: 18px;
  color: var(--tertiary-color);
}
