:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary-color: #f0efef;
  --secondary-color: #32cd32;
  --tertiary-color: #013050;
  --quaternary-color: #ffffff;
}
